.title{
    margin-bottom: 15px;
    font-size: 28px;
}

.mainWrap{
    padding: 20px;
}

.userInfoWrap{
    margin-bottom: 15px;
    border-bottom: 2px solid #414141;
    width: 400px;
    padding-bottom: 3px;
}

