.loginWrap{
    margin-left: 150px;
    border: 1px solid white;
    padding: 10px;
    width: 300px;
    display: flex;
    justify-content: center;
    color: white;
}

.free{
    margin-top: 20px;
}

.free span{
    color: yellow;
}

.title{
    margin-bottom: 5px;
    text-decoration: underline;
}

