.wrap{
    width: 828px;
    margin: 0 auto;
    background-color: #001824;
    position: relative;
    height: 100vh;
    overflow: scroll;
}

.wrap::-webkit-scrollbar {
    width: 0;
}

.wrap{
    scrollbar-width: none;
}

.friend,
.me{
    display: flex;
    border: 1px solid rgb(124, 124, 124);
    margin-bottom: 20px;
    border-radius: 12px;
    min-height: 50px;
    width: fit-content;
    max-width: 550px;
    word-wrap: break-word;
    overflow: hidden;
}

.me{
    justify-content: end;
    background-color: #052d3f;
    margin-right: 15px;
}

.me .mesInfo{
    margin-right: 10px;
    color: #b4b4b4;
}

.friend{
    justify-content: start;
    background-color: #135777;
    margin-left: 15px;
}

.friend .mesInfo{
    margin-left: 10px;
    color: #b4b4b4;
}

.down{
    width: 60px;
    position: fixed;
    top: 12vh;
    right: 43vw;
}

.down:hover{
    width: 70px;
    transition: 100ms;
}

.hidden{
    display: none;
}

.ava{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.me .flex{
    display: flex;
    justify-content: space-between;
    
}

.friend .flex{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
   
}

.me .innerFlex{
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
}

.friend .innerFlex{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin-right: 50px;
}

.me .body{
   margin-left: 10px;
}

.friend .body{
    margin-right: 10px;
 }

.flexMe{
    display: flex;
    justify-content: end;
}

.flexFriend{
    display: flex;
    justify-content: start;
}

.empty{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 75vh;
    margin-top: 30px;
}

.emptyMes{
    font-size: 25px;
}

