nav {
    margin-top: 25px;
    font-size: 22px;
    grid-area: n;
    padding-left: 35px;
    height: 300px;
}

.nav-item {
    height: 30px;
    margin-bottom: 7px;
}

nav .nav-item:last-child {
    margin-top: 30px;
}

.wrap{
    position: relative;
}

.usual {
    text-decoration: none;
    color: #ffc003;
}

.usual div:last-child {
    display: none;
}

.usual .title:hover {
    color: #ffc003;
    font-size: 23px;
    transition: 100ms;
    cursor: pointer;
}

.activeYellow:hover,
.activePurple:hover,
.activeBlue:hover,
.activeRed:hover,
.activeGreen:hover{
    cursor: default;
}

.activeGreen {
    text-decoration: none;
    color: #71e300;
    height: 30px;
    margin-bottom: 7px;
    display: flex;
    justify-content: space-between;
}

.innerGreen {
    width: 10px;
    height: 0px;
    border-right: 10px solid #71e300;
    border-top: 7px solid rgb(0, 0, 0);
    border-bottom: 7px solid rgb(0, 0, 0);
    margin-top: 10px;
}

.activeRed {
    text-decoration: none;
    color: #e31a00;
    height: 30px;
    margin-bottom: 7px;
    display: flex;
    justify-content: space-between;
}

.innerRed {
    width: 10px;
    height: 0px;
    border-right: 10px solid #e31a00;
    border-top: 7px solid rgb(0, 0, 0);
    border-bottom: 7px solid rgb(0, 0, 0);
    margin-top: 10px;
}

.activeBlue {
    text-decoration: none;
    color: #1e9dc4;
    height: 30px;
    margin-bottom: 7px;
    display: flex;
    justify-content: space-between;
}

.innerBlue {
    width: 10px;
    height: 0px;
    border-right: 10px solid #1e9dc4;
    border-top: 7px solid rgb(0, 0, 0);
    border-bottom: 7px solid rgb(0, 0, 0);
    margin-top: 10px;
}

.activePurple {
    text-decoration: none;
    color: #c02ce4;
    height: 30px;
    margin-bottom: 7px;
    display: flex;
    justify-content: space-between;
}

.innerPurple {
    width: 10px;
    height: 0px;
    border-right: 10px solid #c02ce4;
    border-top: 7px solid rgb(0, 0, 0);
    border-bottom: 7px solid rgb(0, 0, 0);
    margin-top: 10px;
}

.activeYellow {
    text-decoration: none;
    color: #e4de2c;
    height: 30px;
    margin-bottom: 7px;
    display: flex;
    justify-content: space-between;
}

.innerYellow {
    width: 10px;
    height: 0px;
    border-right: 10px solid #e4de2c;
    border-top: 7px solid rgb(0, 0, 0);
    border-bottom: 7px solid rgb(0, 0, 0);
    margin-top: 10px;
}

.nonVisible{
    display: none;
}

.visible{
    border: 1px solid #a5a5a5;
    background-color: #000000;
    color: aliceblue;
    padding: 0 7px;
    position: absolute;
    right: 20px;
    font-size: 18px;
    margin-top: 3px;
}