.textareaWrap span{
    color: red;
}

.textareaWrap textarea{
    background-color: #c4c4c4;
    width: 250px;
    height: 50px;
}

.textareaWrap{
    margin-bottom: 15px;
}

.textareaWrap.error input{
    border: solid 2px red;
}

.textareaWrap input:focus{
    outline: 0;
}
