.app-wrapper{
    width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 70px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-template-areas:  
    "h h"
    "n c";
}

.content_wrapper{
    grid-area: c;
    height: 90vh;
    overflow: scroll;
    color: aliceblue;
    border-left: 1px solid #414141;
    border-right: 1px solid #414141;
}

.content_wrapper::-webkit-scrollbar {
    width: 0;
  }

.count{
    color: white;
}

.logWrap{
    margin-left: 50vh;
    margin-top: 20vh;
}
























