.main_wrap{
    display: grid;
    grid-template-columns: 200px 400px;
}

.dialogs_wrap{
    padding: 30px;
}

.messages_wrap{
    padding: 30px;
}

.dialog{
    margin-bottom: 30px;
    border-bottom: 1px solid #db0707;
    text-decoration: none;
    color: rgb(155, 155, 155);
}

.dialog:hover{
    cursor: default;
}

.active{
    color: aliceblue;
    text-decoration: none;
}

.message{
    margin-bottom: 30px;
    border-bottom: 1px solid#414141;
}