.main_wrap{
    display: grid;
    grid-template-columns: 200px 400px;
}

.dialogs_wrap{
    padding: 30px;
}

.messages_wrap{
    padding: 30px;
}

.messages_wrap textarea{
    background-color: #c4c4c4;
    width: 250px;
    height: 50px;
    margin-bottom: 15px;
}

